.navbar{
	padding-right: 250px;
	padding-left: 250px;
	background-color: #EF5350;
	position: fixed;
	width: 100%;
}

body{
	background-color: #EEEEEE;
}

.c-container{
	margin-top: 95px;
}

.card{
	padding: 15px;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 1px #9E9E9E;
	margin-bottom: 35px;
}

.card-header{
	text-align: center;
	text-transform: uppercase;
}

.card-header > h5 {
	color: #9E9E9E;
}

.card > div{
	text-align: center;
	font-size: 11pt;
}