.canvas-nav-custom{
	background-color: #875F9A!important;
	border: 1px solid #875F9A!important;
}

.canvas-topic{
	background-color: #EC87C0!important;
}

.canvas-pricing-title{
	background-color: #DB5A6B!important;
}

.canvas-pricing-body{
	background-color: #AAB2BD!important;
}