.canvas-nav-custom{
	background-color: #875F9A!important;
	border: 1px solid #875F9A!important;
}

.canvas-topic{
	background-color: #EC87C0!important;
}

.canvas-pricing-title{
	background-color: #DB5A6B!important;
}

.canvas-pricing-body{
	background-color: #6ca7af!important;
}

.canvas-pricing-active-body{
	background-color: #59ABE3!important;
}

.canvas-pricing-active-title{
	background-color: #26C281!important;
}

.canvas-pricing-active-foot{
	background-color: #59ABE3!important;
}

.canvas-timeline{
	background-color: #6C7A89!important;
}

.canvas-timeline-p{
	color: #6C7A89!important;
}

.canvas-tabs{
	background-color: #4D8FAC!important;
}

.canvas-timeline-header{
	color: #6C7A89!important;
	font-weight: 200!important;
	font-size: 13pt!important;
	margin-bottom: -1px!important;
	padding-bottom: 2px!important;

}