<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="css/nav.css">
		<link rel="stylesheet" type="text/css" href="css/home.css">
		<link rel="stylesheet" type="text/css" href="css/about.css">

		<link rel="stylesheet" type="text/css" href="fonts/logo/styles.css">

		<link rel="stylesheet" type="text/css" href="logo/logo.css">
	</head>
	<body>

		<div class="nav">
			<div class="side left">
				<object type="image/svg+xml" data="logo/logo-blue-clean.svg"></object>
			</div>
			<div class="side right">
				<span><a href="#">CANVAS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">PROJECTS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">CONTACT</a></span>
			</div>
		</div>

		<div class="home">
			<div class="center">
				<object type="image/svg+xml" data="logo/logo-white.svg"></object>
				<span class="title">CANVAS</span><br>
				<span class="subtitle">WEB DESIGN</span>
			</div>
		</div>

		<div class="about">
			<span class="title">ABOUT</span>
		</div>

		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>