<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" type="text/css" href="css/nav.css">
		<link rel="stylesheet" type="text/css" href="css/home.css">
		<link rel="stylesheet" type="text/css" href="css/about.css">
		<link rel="stylesheet" type="text/css" href="css/overlay.css">

		<link rel="stylesheet" type="text/css" href="fonts/logo/styles.css">

		<link rel="stylesheet" type="text/css" href="logo/logo.css">
	</head>
	<body>

		<div class="nav">
			<div class="side left">
				<object type="image/svg+xml" data="logo/logo-blue-clean.svg"></object>
			</div>
			<div class="side right">
				<span><a href="#">CANVAS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">PROJECTS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">CONTACT</a></span>
			</div>
		</div>

		<div class="section home">
			<div class="center">
				<object type="image/svg+xml" data="logo/logo-white.svg"></object><br>
				<span class="title">CANVAS</span><br>
				<span class="subtitle">WEB DESIGN</span>
			</div>
		</div>

		<div class="section about">
			<div class="center">
				<span class="title">ABOUT</span><br><br><br><br>
				<span class="subtitle">We don't simply design. We imagine. We create.<br>And we want to share your buisiness with the world in the best way possible.</span>
			</div>
		</div>

		<div class="section projects">
			<div class="center">
				<span class="title">PROJECTS</span>

				<ul class="grid cs-style-3">
	<li>
		<figure>
			<img src="images/home-bg3.jpg" alt="img01">
			<figcaption>
				<h3>Camera</h3>
				<span>Jacob Cummings</span>
				<a href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
			</figcaption>
		</figure>
	</li>
	<li>
		<figure>
			<!-- ... -->
		</figure>
	</li>
	<!-- ... -->
</ul>
		</div>

		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/modernizr.custom.js"></script>
	</body>
</html>